
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');

@font-face {
    font-family: 'robotomedium';
    src: 
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
h2 {
    font-family: 'robotomedium', Arial, sans-serif; 
    font-size: 1em;
}
img {
    padding: 15px;
}

.classA {
    width: 90%;
    margin: 0 auto;
}


section {
    display: flex; /* Added Flexbox */
    justify-content: space-between; /* Adjusted justify-content based on preference */
    flex-wrap: wrap; /* Added flex-wrap */
}

.pricebox {
    background: #FFFFFF;
    border: 1px solid #000000;
   /*float: left; */
   /* margin: 10px; */
    text-align: center;
    /*width: 31%; */
}


.pricebox h4.price {
    background: #0a090a; 
    color: #FFFFFF;
    padding: 15px;
}

.pricebox ul {
    margin: 0;
    padding: 0;
}


.pricebox ul li:nth-child(even) {
    background: rgba(0, 0, 150, 0.1);
}

.pricebox p {
    font-weight: bold;
}

.pricebox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    background: #0a090a;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
}

/* div.pricebox:nth-of-type(2) h4.price,
div.pricebox:nth-of-type(2) a.button {
    background: #c285ba;
} */

/* Adjusted the selector for the second pricebox */
section div.pricebox:nth-of-type(2) h4.price,
section div.pricebox:nth-of-type(2) a.button {
    background: #0a090a;
}
table {
  width: 100%;
  background-image: linear-gradient(#FFFFFF, #F0F9E6);
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000; 
  border-style: solid;
  color: #000000;
  margin-bottom: 20px;
}
tbody {
    font-size: small;
    font-style: italic;
}

table td, th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 15px;
}

table thead {
  background-color: #000000;
  color: white;
}
p {
  font: 1.25em sans-serif;
}

footer {
    padding: 0px;
      font-size: 0.75em;
      text-align: center;
      background-color: #fff; /* You can replace this color with your choice */
      padding: 10px 0; /* Shorthand for top and bottom padding */
  
  }







