html{
  background-image: linear-gradient(#fff, #7F96A1);
  height: 100%;
}
body {
    color: #292323;
    font-size: 1.25rem;
}
.addrightmargin {
  margin-right: 10%;

  float: right;
  border-radius: 100px;

}

div {
  margin: 10px;
}

label {
  margin-right: 15px;
  width: 150px;
  display: inline-block;
}
textarea {
  margin-right: 15px;
  width: 800px;
  height: 200px;
  display: inline-block;
}
.my {
  margin-right: 15px;
  width: 300px;
  height: 15px;
}
.FL {
  margin-right: 15px;
  width: 200px;
  height: 15px;
}
/* Apply basic styles to the navigation links */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }
  
  nav ul li {
    margin: 0 10px;
    background-color: #333;
  }
  
  /* Styling the normal link */
  .link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid transparent;
  }
  
  /* Styling for unvisited links */
  .link:link {
    color: #333;
  }
  
  /* Styling for visited links */
  .link:visited {
    color: rgb(230, 237, 240);
  }
  
  /* Styling for hover effect */
  .link:hover {
    color: #fff;
    background-color: #333;
  }
  
  /* Styling for active link (when clicked) */
  .link:active {
    color: yellow;
    background-color: #222;
  } 
 
  footer {
    padding: 0px;
      font-size: 0.75em;
      text-align: center;
      background-color: #fff; /* You can replace this color with your choice */
      padding: 10px 0; /* Shorthand for top and bottom padding */
  
  }

 