@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

header {
    background-color: #A8D6EB;
    font-family: 'Anton', sans-serif;
}
h2 {
    font-size: 1.5em;
}
#value {
    background-color: #AEF0CC;
}
#example {
    background-color: #E3ADB9;
}
.B {
    text-decoration: underline;
}
.C {
    text-decoration: overline;
}
.D {
    text-decoration: line-through;
}